.topnav {
    overflow: hidden;
    background-color: black;
}

.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: white;
    color: black;
}

.topnav a.active {
    background-color: green;
    color: white;
}

#feedback {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#feedback td,
th {
    border: 1px solid #ddd;
    padding: 8px;
}

#feedback tr:nth-child(even) {
    background-color: #f2f2f2;
}

#feedback tr:hover {
    background-color: rgb(112, 107, 107);
}

#feedback th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

#btn_i {
    width: 125px;
    margin-left: auto;
    margin-right: auto;
}
